<!DOCTYPE html>
<html>
<head>
  <title>Elysian</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand"><%= link_to 'Elysium', root_path %></li>
      <li><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><a href="#">Chat</a></li>
      <li><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span><a href="#">Pin Board</a></li>
      <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="#">Mail</a></li>
      <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><%= link_to 'Calendar', calendars_path %></li>
      <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= link_to 'Tasks', tasks_path %></li>
      <li role="separator" class="divider"></li>
      <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><%= link_to 'People', people_path %><span class="badge"></span></li>
      <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= link_to 'Homes', homes_path %></li>
      <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= link_to 'QHECs', qhe_cs_path %></li>
      <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= link_to 'Audits', audits_path %></li>
      <li><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><%= link_to 'Jobs', jobs_path %></li>
      <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span><a href="#">Commercial</a></li>
      <li><span class="glyphicon glyphicon-bell" aria-hidden="true"></span><%= link_to 'Issues', issues_path %></li>
      <li><span class="glyphicon glyphicon-cog" aria-hidden="true"></span><a href="#">Settings</a></li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="navbar-header">
        <form role="search" class="navbar-form-custom" action="search_results.html">
          <div class="form-group">
            <input type="text" placeholder="Search for something..." class="form-control">
          </div>
        </form>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Sign In', new_user_session_path) %></li>
        <% end %>
        <li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-inbox"></span></a></li>
        <li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
      </ul>
    </nav>
    <div class="page-content">
      <div class="container-fluid background">
        <div class="row">
          <div class="col-md-12">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
