<h2 class="page-header">Residences</h2>
<%= link_to "Add Residence", new_residence_path %>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped table-condensed display" id="residence">
      <thead>
        <tr>
          <th>Utility</th>
          <th>Address</th>
          <th>Sq. Ft.</th>
          <th>Res. Type</th>
        </tr>
      </thead>
      <tbody>
        <% @residences.each do |residence| %>
          <tr>
            <td><%= residence.utility_id %></td>
            <td><%= residence.address_id %></td>
            <td><%= number_with_delimiter(residence.square_footage, delimiter: ',') %></td>
            <td><%= residence.sfoo %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
