<%= simple_nested_form_for @person do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :first_name %>
    </div>
    <div class="col-xs-6">
      <%= f.input :last_name %>
    </div>
  </div>
  <%= f.input :title %>
  
  <%= f.fields_for :phone_numbers do |phone| %>
    <div class="input-group">
      <div class="input-group-btn">
        <%= phone.collection_select(:phone_type_id, PhoneType.all, :id, :name, class: "btn btn-default dropdown-toggle") %>
        <%= phone.input :phone_number, as: :tel, html: { id: "phone_number" }, label: "Phone Number" %>
      </div>
    </div>
    <%= phone.link_to_remove "Remove" %>
  <% end %>
  <%= f.link_to_add "Add Number", :phone_numbers, class: "btn btn-default" %>

  <%= f.fields_for :emails do |email| %>
    <%= email.input :address, label: "Email" %>
    <%= email.link_to_remove "Remove" %>
  <% end %>
  <%= f.link_to_add "Add Email", :emails, class: "btn btn-default" %>

  <%= f.button :submit, "Save" %>
<% end %>
