<h2 class="page-header">People</h2>
<%= link_to "Add Person", new_person_path %>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped table-condensed display" id="people">
      <thead>
        <tr>
          <th>Status</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td>Status</td>
            <td><%= link_to person.first_name, person_path(person) %></td>
            <td><%= link_to person.last_name, person_path(person) %></td>
            <td></td>
            <td><%= person.main_phone %></td>
            <td><%= person.main_email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
