<h2 class="page-header">People</h2>
<%= link_to "Add Person", new_person_path %>
<div class="row">
  <div class="col-sm-12">
    <!-- <table id="people" class="display" data-source="<%= people_url(format: "json") %>"> -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Status</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td>Status</td>
            <td><%= person.first_name %></td>
            <td><%= person.last_name %></td>
            <td>Address</td>
            <td><%= person.phone_numbers.any? ? person.phone_numbers.first.phone_number : "-" %></td>
            <td><%= person.emails.any? ? person.emails.first.address : "-" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
