<h1>Tasks</h1>
<% if @tasks.any? %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <th>Task</th>
        <th>Status</th>
        <th>Project</th>
        <th>Last Updated</th>
      </thead>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.status %></td>
          <td><%= link_to task.project.name, project_path(task.project) %></td>
          <td><%= task.updated_at %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <p>You haven't created any tasks.</p>
<% end %>
<%= link_to "Add a task", new_task_path %>